{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Symfony File Transfer{% endblock %}

{% block body %}
    <div class="home-container">
        <div class="home-header">
            <div class="content-sizer">
                <h1>Revolutionize Your Business with Seamless, Secure File Transfers</h1>
                <div class="services-cards-list">
                    <div class="service-card">
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="lucide lucide-shield-check">
                                <path d="M20 13c0 5-3.5 7.5-7.66 8.95a1 1 0 0 1-.67-.01C7.5 20.5 4 18 4 13V6a1 1 0 0 1 1-1c2 0 4.5-1.2 6.24-2.72a1.17 1.17 0 0 1 1.52 0C14.51 3.81 17 5 19 5a1 1 0 0 1 1 1z"></path>
                                <path d="m9 12 2 2 4-4"></path>
                            </svg>
                        </div>
                        <div class="service-name">Secure Storage</div>
                    </div>

                    <div class="service-card">
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="lucide lucide-gauge">
                                <path d="m12 14 4-4"></path>
                                <path d="M3.34 19a10 10 0 1 1 17.32 0"></path>
                            </svg>
                        </div>
                        <div class="service-name">High Speed</div>
                    </div>

                    <div class="service-card">
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="lucide lucide-network">
                                <rect x="16" y="16" width="6" height="6" rx="1"></rect>
                                <rect x="2" y="16" width="6" height="6" rx="1"></rect>
                                <rect x="9" y="2" width="6" height="6" rx="1"></rect>
                                <path d="M5 16v-3a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v3"></path>
                                <path d="M12 12V8"></path>
                            </svg>
                        </div>
                        <div class="service-name">Business Accounts</div>
                    </div>

                    <div class="service-card">
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="lucide lucide-text-cursor-input">
                                <path d="M5 4h1a3 3 0 0 1 3 3 3 3 0 0 1 3-3h1"></path>
                                <path d="M13 20h-1a3 3 0 0 1-3-3 3 3 0 0 1-3 3H5"></path>
                                <path d="M5 16H4a2 2 0 0 1-2-2v-4a2 2 0 0 1 2-2h1"></path>
                                <path d="M13 8h7a2 2 0 0 1 2 2v4a2 2 0 0 1-2 2h-7"></path>
                                <path d="M9 7v10"></path>
                            </svg>
                        </div>
                        <div class="service-name">File Monitoring</div>
                    </div>

                    <div class="service-card">
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="lucide lucide-key">
                                <path d="m15.5 7.5 2.3 2.3a1 1 0 0 0 1.4 0l2.1-2.1a1 1 0 0 0 0-1.4L19 4"></path>
                                <path d="m21 2-9.6 9.6"></path>
                                <circle cx="7.5" cy="15.5" r="5.5"></circle>
                            </svg>
                        </div>
                        <div class="service-name">Download Statistics</div>
                    </div>

                    <div class="service-card">
                        <div class="icon-wrapper">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="lucide lucide-database">
                                <ellipse cx="12" cy="5" rx="9" ry="3"></ellipse>
                                <path d="M3 5V19A9 3 0 0 0 21 19V5"></path>
                                <path d="M3 12A9 3 0 0 0 21 12"></path>
                            </svg>
                        </div>
                        <div class="service-name">Large Files</div>
                    </div>

                </div>
            </div>
        </div>

        <div class="content-sizer">
            <div class="features-container">

                <div class="feature-card feature-large">
                    <div class="category-label">Business Convenience</div>
                    <div class="feature-title">Create business accounts and manage employee access</div>
                    <div class="feature-description">
                        Symfony File Transfer allows your business to create a primary account and up to 20 additional
                        user accounts for your employees, simplifying file management and enhancing internal security.
                    </div>
                    <div class="learn-more">
                        Learn More
                        <svg width="10" height="10" viewBox="0 0 10 10" class="styles_arrow__fxWHa" aria-hidden="true">
                            <path d="M0 5h7" class="styles_line___qSr7"></path>
                            <path d="M1 1l4 4-4 4" class="styles_chevron__pzecF"></path>
                        </svg>
                    </div>
                    <div class="illustration-area">
                        <div class="partner-logos">
                            {% include 'components/safe_dial.html.twig' %}
                        </div>
                    </div>
                </div>

                <div class="feature-card feature-medium">
                    <div class="illustration-area">
                        <div class="card-stack">
                            <div class="card"></div>
                            <div class="card"></div>
                            <div class="card"></div>
                        </div>
                    </div>
                    <div class="category-label">Always Fast and Reliable</div>
                    <div class="feature-title">Send and track files without delays</div>
                    <div class="feature-description">
                        Instantly send large files to partners and clients while monitoring delivery status and download times.
                        With us, you can be confident that your files will arrive on time.
                    </div>
                    <div class="learn-more">
                        Learn More
                        <svg width="10" height="10" viewBox="0 0 10 10" class="styles_arrow__fxWHa" aria-hidden="true">
                            <path d="M0 5h7" class="styles_line___qSr7"></path>
                            <path d="M1 1l4 4-4 4" class="styles_chevron__pzecF"></path>
                        </svg>
                    </div>
                </div>

                <div class="feature-card feature-medium">
                    <div class="category-label">Full Control Over the Process</div>
                    <div class="feature-title">Detailed Analytics and Download Monitoring</div>
                    <div class="feature-description">
                        Track the status of each file in real time and receive detailed download statistics so you always know
                        who, when, and how the information is being used.
                    </div>
                    <div class="learn-more">
                        Learn More
                        <svg width="10" height="10" viewBox="0 0 10 10" class="styles_arrow__fxWHa" aria-hidden="true">
                            <path d="M0 5h7" class="styles_line___qSr7"></path>
                            <path d="M1 1l4 4-4 4" class="styles_chevron__pzecF"></path>
                        </svg>
                    </div>
                    <div class="illustration-area">
                        <div class="card-proxy">
                            <div class="card-stack">
                                <div class="card"></div>
                                <div class="card"></div>
                                <div class="card"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="feature-card feature-large">
                    <div class="illustration-area">
                        {% include 'components/safe_dial.html.twig' %}
                    </div>
                    <div class="category-label">Maximum Security</div>
                    <div class="feature-title">Store and send confidential information with confidence</div>
                    <div class="feature-description">
                        Symfony File Transfer provides a high level of data protection with modern encryption methods and strict adherence
                        to security standards. Your data always remains under your control.
                    </div>
                    <div class="learn-more">
                        Learn More
                        <svg width="10" height="10" viewBox="0 0 10 10" class="styles_arrow__fxWHa" aria-hidden="true">
                            <path d="M0 5h7" class="styles_line___qSr7"></path>
                            <path d="M1 1l4 4-4 4" class="styles_chevron__pzecF"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="divider-style mt-100"></div>

    </div>
{% endblock %}
