<div class="base-navigation">
    <a class="logo" href="{{ path('app_home') }}">
        <img src="{{ asset('images/fly.svg') }}" alt="SFT logo">
        <span>filetransfer</span>
    </a>
    <div class="nav-section">
        {% if app.user %}
            <a class="button nav-button button-blue" href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <a class="button nav-button button-blue" href="{{ path('app_login') }}">Login</a>
        {% endif %}
    </div>
</div>