{# templates/settings/_general_view.html.twig #}
<div class="form-section settings-view">
    <div class="settings-field">
        <div class="settings-label">First Name</div>
        <div class="settings-value">{{ user.firstName }}</div>
    </div>
    <div class="settings-field">
        <div class="settings-label">Last Name</div>
        <div class="settings-value">{{ user.lastName }}</div>
    </div>
    <div class="settings-field">
        <div class="settings-label">Email</div>
        <div class="settings-value">{{ user.email }}</div>
    </div>
    <div class="settings-field">
        <div class="settings-label">Password</div>
        <div class="settings-value">••••••••</div>
    </div>
</div>