{# templates/settings/subscription.html.twig #}
{% extends 'settings/index.html.twig' %}

{% block settings_content %}
    <div class="settings-section">
        <div class="settings-header">
            <div class="settings-title">Subscription info</div>
            {% if subscription.type.value == 'free' or subscription.type.value == 'pro'  %}
                <a href="{{ path('app_price') }}" class="settings-edit-btn">
                    Get Update
                </a>
            {% endif %}
        </div>

        {% include 'settings/_subscription_view.html.twig' %}
    </div>
{% endblock %}