// Components
@use "_variables.scss";
@use "flash.scss";
@use "navigation.scss";
@use "footer.scss";
@use "dial.scss";
@use "analytics.scss";

// Pages
@use "auth.scss";
@use "send.scss";
@use "transfers.scss";
@use "home.scss";
@use "flatpickr.scss";
@use "download.scss";
@use "register.scss";
@use "price.scss";
@use "matrix.scss";
@use "settings.scss";
@use "payment.scss";
@use "employee.scss";
@use "companyAnalytics.scss";

body {
  background: #010314;
  padding: 0;
  margin: 0;

  ::selection {
    background-color: var(--color-primary);
    color: #fff;
  }
}

* {
  box-sizing: border-box;
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  main {
    flex-grow: 1;
  }
}

a {
  text-decoration: none;
}

.mt-100 {
  margin-top: 100px;
}

.display-flex-end {
  display: flex;
  justify-content: end;
  align-items: end;
}

.button {
  padding: 10px 14px;
  border-radius: 10px;
  color: white;
  transition: all 0.3s;
  background: var(--color-secondary);

  &:hover {
    background: var(--color-secondary-hover);
    scale: 1.1;
  }
}

.divider-style {
  width: 100%;
  height: 1px;
  position: relative;

  &:before {
    bottom: 0;
    z-index: 0;
    content: "";
    width: 500px;
    height: 40px;
    position: absolute;
    left: calc(50% - 250px);
    border-bottom: 1px solid;
    border-image-source: linear-gradient(90deg, transparent, rgba(143, 120, 255, .5) 50%, transparent);
    border-image-slice: 1;
    background: radial-gradient(50% 100% at 50% 100%, rgba(157, 137, 255, .1) 0, rgba(1, 3, 20, 0) 100%);
  }

  &:after {
    top: 0;
    z-index: 0;
    content: "";
    width: 1000px;
    height: 80px;
    position: absolute;
    left: calc(50% - 500px);
    border-top: 1px solid;
    border-image-source: linear-gradient(90deg, transparent, rgba(143, 120, 255, .5) 50%, transparent);
    border-image-slice: 1;
    background: radial-gradient(43.9% 100% at 50% 0, rgba(157, 137, 255, .15) 0, rgba(1, 3, 20, 0) 100%);
  }
}

.launcher {
  cursor: pointer;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  display: flex;
  padding: 0.5rem;
  border-radius: 50%;
  background: var(--launcher-background-color);

  svg {
    color: var(--launcher-icon-color);
  }
}


.form-control {
  width: 100%;
  padding: 0.75rem 1rem;
  border: 1px solid transparent;
  box-shadow: var(--base-box-shadow);
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 8px;
  font-size: 12px;
  color: var(--text-color);
  transition: border-color 0.2s, box-shadow 0.2s;

  &:focus {
    border: 1px solid var(--color-primary);
    box-shadow: none;
    outline: none;
  }

  &::placeholder {
    color: var(var(--color-gray-60));
  }
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 600;
  color: var(--text-color);
  font-size: 12px;
}

.radial-text {
  --x: 50%;
  --y: 50%;
  --width: 50%;
  padding-bottom: .1em;
  background: radial-gradient(var(--width) 100% at var(--x) var(--y), #fff 30%, hsla(0, 0%, 100%, .5) 100%);
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hidden {
  display: none !important;
}

mark {
  background: var(--color-primary);
  color: white;
}
