.flatpickr-calendar {
  border-radius: 12px !important;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2) !important;
  overflow: hidden;
  font-family: Arial, sans-serif;
  border: none !important;
}

.flatpickr-day.selected {
  background: var(--color-pink) !important;
  border: none;
  box-shadow: var(--base-box-shadow);
}

