@keyframes fadeInMatrix {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.matrix-canvas,
.matrix-overlay {
  opacity: 0; // начальное значение
  animation: fadeInMatrix 2s ease-in forwards;
}


 .matrix-container {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   overflow: hidden;
   z-index: -1;
 }

.matrix-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #010314;
  display: block;
  z-index: 1;
}

.matrix-overlay {
  position: absolute;
  inset: 0;
  pointer-events: none;
  background: radial-gradient(
                  ellipse at top center,
                  transparent 0,
                  rgba(1, 3, 20, 0.3) 0%,
                  rgba(1, 3, 20, 1) 100%);
  z-index: 2;
}
