.register {

  h1 {
    margin: 100px;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 400;
    font-family: var(--font-family-base);
  }
  .content-sizer {
    max-width: 1000px;
    margin: 200px auto;
    display: flex;

  }

  .title-section {
    width: 45%;
    color: #fff;
    font-family: "Roobert", sans-serif;

    .title {
      font-weight: 500;
      font-size: 3.5rem;
    }

    .subtitle {
      font-size: 0.9rem;
    }
  }

  form[name="registration_form"] {
    font-family: var(--font-family-base);
    display: flex;
    flex-direction: column;
    align-items: start;


    .form-section {
      margin: 0 0 20px 0;
      display: flex;
      gap: 4rem;
      color: var(--color-gray-40);

      .step {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 100px;
        color: var(--color-gray-40);
        height: 2rem;
        padding: 0 0.9rem;
        border-radius: 2rem;
        border: 1px solid var(--color-gray-80);
        font-feature-settings: "tnum";

      }

      .vertical-line {
        margin: 20px auto;
        width: 1px;
        height: 100%;
        background: var(--color-gray-80);
        position: relative;
      }

      .vertical-line__fill {
        position: absolute;
        top: 0;
        left: 0;
        width: 1px;
        height: 0;
        background: var(--color-primary);
        transition: height 0.3s ease-out;
      }

      .step-title {
        font-family: "Roobert", sans-serif;
        margin: 0 0 2.5rem 0;
        font-weight: 500;
        //font-size: 2.5rem;
        font-size: 1.6rem;

      }

      label {
        margin-top: 2rem;
      }

      .form {
        min-width: 300px;
        padding-bottom: 10rem;
      }

    }

  }

}