<div class="styles_container__zTR5b">
    <div class="styles_dial__GKlj9">
        <div class="styles_inner___VZ_I" style="--rotation:0deg">
            <div class="styles_knob__Ny9ob"></div>
            <div class="styles_tick__NeBal" data-major="true" data-minor="true" style="--rotation:0deg">
                <div class="styles_label__KDeYE">0</div>
            </div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:3.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:7.2deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:10.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:14.4deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="true" style="--rotation:18deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:21.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:25.2deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:28.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:32.4deg"></div>
            <div class="styles_tick__NeBal" data-major="true" data-minor="true" style="--rotation:36deg">
                <div class="styles_label__KDeYE">10</div>
            </div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:39.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:43.2deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:46.800000000000004deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:50.4deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="true" style="--rotation:54deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:57.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:61.2deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:64.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:68.4deg"></div>
            <div class="styles_tick__NeBal" data-major="true" data-minor="true" style="--rotation:72deg">
                <div class="styles_label__KDeYE">20</div>
            </div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:75.60000000000001deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:79.2deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:82.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:86.4deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="true" style="--rotation:90deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:93.60000000000001deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:97.2deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:100.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:104.4deg"></div>
            <div class="styles_tick__NeBal" data-major="true" data-minor="true" style="--rotation:108deg">
                <div class="styles_label__KDeYE">30</div>
            </div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:111.60000000000001deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:115.2deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:118.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:122.4deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="true" style="--rotation:126deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:129.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:133.20000000000002deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:136.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:140.4deg"></div>
            <div class="styles_tick__NeBal" data-major="true" data-minor="true" style="--rotation:144deg">
                <div class="styles_label__KDeYE">40</div>
            </div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:147.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:151.20000000000002deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:154.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:158.4deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="true" style="--rotation:162deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:165.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:169.20000000000002deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:172.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:176.4deg"></div>
            <div class="styles_tick__NeBal" data-major="true" data-minor="true" style="--rotation:180deg">
                <div class="styles_label__KDeYE">50</div>
            </div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:183.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:187.20000000000002deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:190.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:194.4deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="true" style="--rotation:198deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:201.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:205.20000000000002deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:208.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:212.4deg"></div>
            <div class="styles_tick__NeBal" data-major="true" data-minor="true" style="--rotation:216deg">
                <div class="styles_label__KDeYE">60</div>
            </div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:219.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:223.20000000000002deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:226.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:230.4deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="true" style="--rotation:234deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:237.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:241.20000000000002deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:244.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:248.4deg"></div>
            <div class="styles_tick__NeBal" data-major="true" data-minor="true" style="--rotation:252deg">
                <div class="styles_label__KDeYE">70</div>
            </div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:255.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:259.2deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:262.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:266.40000000000003deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="true" style="--rotation:270deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:273.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:277.2deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:280.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:284.40000000000003deg"></div>
            <div class="styles_tick__NeBal" data-major="true" data-minor="true" style="--rotation:288deg">
                <div class="styles_label__KDeYE">80</div>
            </div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:291.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:295.2deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:298.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:302.40000000000003deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="true" style="--rotation:306deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:309.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:313.2deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:316.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:320.40000000000003deg"></div>
            <div class="styles_tick__NeBal" data-major="true" data-minor="true" style="--rotation:324deg">
                <div class="styles_label__KDeYE">90</div>
            </div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:327.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:331.2deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:334.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:338.40000000000003deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="true" style="--rotation:342deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:345.6deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:349.2deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false" style="--rotation:352.8deg"></div>
            <div class="styles_tick__NeBal" data-major="false" data-minor="false"
                 style="--rotation:356.40000000000003deg"></div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Выбираем элементы циферблата
        const dial = document.querySelector('.styles_dial__GKlj9');
        const inner = dial.querySelector('.styles_inner___VZ_I');

        // Переменные для отслеживания состояния
        let isDragging = false;
        let currentRotation = 0;
        let startAngle = 0;

        // Функция для вычисления угла между центром циферблата и позицией мыши
        function getAngle(clientX, clientY) {
            // Получаем положение и размеры циферблата
            const dialRect = dial.getBoundingClientRect();

            // Вычисляем центр циферблата
            const centerX = dialRect.left + dialRect.width / 2;
            const centerY = dialRect.top + dialRect.height / 2;

            // Вычисляем угол в радианах, затем конвертируем в градусы
            const angle = Math.atan2(clientY - centerY, clientX - centerX) * (180 / Math.PI);

            // Преобразуем угол, чтобы 0 градусов был сверху (как у обычного циферблата)
            return (angle + 90) % 360;
        }

        // Функция для получения текущего значения вращения
        function getCurrentRotation() {
            const rotationStyle = inner.style.getPropertyValue('--rotation') || '0deg';
            return parseFloat(rotationStyle.replace('deg', '')) || 0;
        }

        // Обработчик нажатия мыши
        function handleMouseDown(e) {
            isDragging = true;

            // Получаем текущее вращение
            currentRotation = getCurrentRotation();

            // Запоминаем начальный угол касания
            startAngle = getAngle(e.clientX, e.clientY);

            // Предотвращаем выделение текста при перетаскивании
            e.preventDefault();

            // Добавляем обработчики событий для перетаскивания
            document.addEventListener('mousemove', handleMouseMove);
            document.addEventListener('mouseup', handleMouseUp);
        }

        // Обработчик движения мыши
        function handleMouseMove(e) {
            if (!isDragging) return;

            // Получаем текущий угол
            const currentAngle = getAngle(e.clientX, e.clientY);

            // Вычисляем разницу углов
            let angleDelta = currentAngle - startAngle;

            // Нормализуем дельту, если она пересекает 0/360 градусов
            if (angleDelta > 180) angleDelta -= 360;
            if (angleDelta < -180) angleDelta += 360;

            // Обновляем вращение
            const newRotation = currentRotation + angleDelta;

            // Применяем новое вращение к внутреннему элементу
            inner.style.setProperty('--rotation', `${newRotation}deg`);

            // Обновляем текущие значения для следующего движения
            currentRotation = newRotation;
            startAngle = currentAngle;
        }

        // Обработчик отпускания мыши
        function handleMouseUp() {
            isDragging = false;

            // Удаляем обработчики событий
            document.removeEventListener('mousemove', handleMouseMove);
            document.removeEventListener('mouseup', handleMouseUp);
        }

        // Добавляем поддержку сенсорных устройств
        function handleTouchStart(e) {
            if (e.touches.length === 1) {
                isDragging = true;

                // Получаем текущее вращение
                currentRotation = getCurrentRotation();

                // Запоминаем начальный угол касания
                startAngle = getAngle(e.touches[0].clientX, e.touches[0].clientY);

                // Предотвращаем прокрутку страницы при перетаскивании
                e.preventDefault();
            }
        }

        function handleTouchMove(e) {
            if (!isDragging || e.touches.length !== 1) return;

            // Получаем текущий угол
            const currentAngle = getAngle(e.touches[0].clientX, e.touches[0].clientY);

            // Вычисляем разницу углов
            let angleDelta = currentAngle - startAngle;

            // Нормализуем дельту, если она пересекает 0/360 градусов
            if (angleDelta > 180) angleDelta -= 360;
            if (angleDelta < -180) angleDelta += 360;

            // Обновляем вращение
            const newRotation = currentRotation + angleDelta;

            // Применяем новое вращение
            inner.style.setProperty('--rotation', `${newRotation}deg`);

            // Обновляем текущие значения для следующего движения
            currentRotation = newRotation;
            startAngle = currentAngle;

            // Предотвращаем прокрутку страницы
            e.preventDefault();
        }

        function handleTouchEnd() {
            isDragging = false;
        }

        // Добавляем обработчики событий
        dial.addEventListener('mousedown', handleMouseDown);
        dial.addEventListener('touchstart', handleTouchStart, { passive: false });
        dial.addEventListener('touchmove', handleTouchMove, { passive: false });
        dial.addEventListener('touchend', handleTouchEnd);
    });
</script>
